html{
	color:#f8b700;
	text-align:center;
}
body{
	background:#475459;
}
fieldset{
	width:400px;
	border-radius:20px;
	border-color:#191D1F;
	margin:auto;
	margin-bottom:75px;
	margin-top:75px;
}
table{
	margin:auto;
}
td{
	width:100px;
	text-align:center;
	color:#BF8D00;
}
th,td{
	border-bottom:1px dotted #191D1F;
	margin:5px;
}
th,legend{
	font-weight:bold;
}
h1{
	text-decoration:underline;
	margin-top:50px;
	font-style:italic;
}

