html{
	color:black;
	text-align:center;
}
body{
	background:#e5e5e5;
	margin:0
}
fieldset{
	border-color:black;
	vertical-align:top;
	margin:75px;
	border-radius:15px;
}
article{
	border:1px dotted black;
	border-radius:15px;
	margin:20px;
	display:inline-block;
	width:300px;
	text-align: justify;
	padding:5px;
	vertical-align:top;
}
td{
	width:100px;
	text-align:center;
}

h1{
	margin-top:50px;
}
h4{
	text-align:center;
}
nav{
	width:100%;
	background:black;
}

ul {
 padding:0;
 list-style-type:none;
 }
li {
 display:inline-block;
 }
ul li a {
 display:block;   
 width:150px;
 line-height:50px; /*hauteur de l'image de fond*/
 background:black;
 color:#e5e5e5;
 text-decoration:none;
 text-align:center;
 }
ul li a:hover {
 background:#e5e5e5;
 color:black;
 }  
